@import './mixins.scss';

body, html  {
    background-color: #020024;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    color: white;
    button,input,textarea,select {
        border: 0 ;
        font-family: inherit;
        margin: 0 0 ; 
        padding: 0 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0)
    }
    * {
        box-sizing: inherit;
        line-height: initial;
        position: relative;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        outline: none;
        &::after,&::before {
            -webkit-box-sizing: inherit;
            -moz-box-sizing: inherit;
            box-sizing: inherit;
        }

    }
}
a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@for $i from 1 through 5 {
    h#{$i} {
        font-weight: normal;
        margin: 0 0;
        padding: 0 0 ;
    }
}

html,
body,
div,
article,
aside,
details,
footer,
header,
section,
applet,
iframe,
embed,
object,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup blockquote,
p,
pre,
span,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend,
fieldset,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
img,
figure,
figcaption,
menu,
nav,
output,
summary,
time,
mark,
canvas,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
    margin: 0;
    padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

.btn, button {
    font-family: "Domine" !important;
    &.MuiButton-text{
        &:hover{
            color: #506945!important;
            background: #8ba32e !important;
        }
    }		
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
textarea,
input {
    &[placeholder] {
        color: lightgray;
        font-weight: 300;
        opacity: 1;
        text-overflow: ellipsis;
    }
    &::-moz-placeholder {
        color: lightgray;
        font-weight: 300;
        opacity: 1;
        text-overflow: ellipsis;
    }
    &::-webkit-input-placeholder {
        color: lightgray;
        font-weight: 300;
        opacity: 1;
        text-overflow: ellipsis;
    }
    &:-ms-input-placeholder {
        color: lightgray;
        font-weight: 300;
        opacity: 1;
        text-overflow: ellipsis;
    }
}

.goBack {
    display: block;
    font-weight: bold;
    font-size: .8rem;
    padding: 10px 10px 0;
    cursor: pointer;
}

.pg-detail {
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);    
}